body {
    background: #FFF;
    font-family: 'Open Sans', sans-serif;
}
p {
    font-family: 'Open Sans', sans-serif;
    color: #2D2E34;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Bree Serif', serif;
    color: #2D2E34;
    font-weight: normal !important;
}
.auth-block a.request-call-button {
    font-style: normal;
    font-weight: 600 !important;
    font-size: 15px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    border: 1px solid #95A2BA;
    box-sizing: border-box;
    border-radius: 8px;
    color: #2D2E34;    
    text-decoration: none;
    justify-content: center;
    min-width: 168px;
    min-height: 40px;
}
.auth-block a.login {
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    border: 1px solid #8FC640;
    box-sizing: border-box;
    border-radius: 8px;
    color: #8FC640;    
    text-decoration: none;
    justify-content: center;
    min-width: 81px;
    min-height: 40px;
    margin: 0 10px;
}  
.auth-block a.join-us {
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    display: flex;
    background: #8FC640;
    align-items: center;
    text-align: center;
    border: 1px solid #8FC640;
    box-sizing: border-box;
    border-radius: 8px;
    color: #FFF;    
    text-decoration: none;
    justify-content: center;
    min-width: 88px;
    min-height: 40px;
    font-family: 'Open Sans', sans-serif;
}   
.auth-block li {
    margin: 0;
}
.primary-menu a {
    color: #2D2E34;
    font-size: 15px;
}
.hero-content-section h5 {
    font-size: 22px;
    line-height: 32px;
    margin: 20px 0 50px 0;
    text-transform: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
}
.hero-content-section h5 p {
    font-size: 22px;
    color: #2D2E34
}
.hero-btn-section {
    clear: both;
    float: left;
}
.main-container {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 2.8rem 0 0 0;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}
.outer-container {
    align-items: center;
    padding: 2.8rem 0 0 0;
    width: calc(100% - 8rem);
    max-width: 168rem;
    margin-left: auto;
    margin-right: auto;
}

.hero-content-section.how-it-works-section {
    min-height: 400px;
}
#site-content {
    background: #FFF;;
}
#site-header {
    box-shadow: 0px 2px 4px rgba(190, 201, 214, 0.3)
}
.btn {
    border-radius: 8px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: center;    
    text-decoration: none;
    justify-content: center;
    min-height: 48px;
    padding: 0 30px;
}
.btn-primary, 
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary:not(:disabled):not(.disabled).active, 
.btn-primary:not(:disabled):not(.disabled):active, 
.show>.btn-primary.dropdown-toggle {
    background: #8FC640 !important;
    color: #FFFFFF;
    border: 1px solid #8FC640 !important;
}
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary:active,
.btn-secondary:not(:disabled):not(.disabled).active, 
.btn-secondary:not(:disabled):not(.disabled):active, 
.show > .btn-secondary.dropdown-toggle {
    border: 1px solid #8FC640;
    color: #8FC640;
    background:none;
    outline: 0;
}

.btn-primary:hover, .btn-secondary:hover {
    text-decoration: none;
}
.logo-section-background {
    background:#F1F1F1;
    padding: 0;
}
.subscription-section h2 {
    font-size: 40px;
    line-height: 56px;
    text-align: center;
    margin: 90px 0 26px 0;
    text-transform: none;
    font-family: 'Bree Serif', serif;
    font-weight: normal;
}
.subscription-section h5 {
    color: #95A2BA;
    font-size: 22px;
    line-height: 32px;
    text-align: center;
    margin: 0 0 88px 0;
    text-transform: none;
    font-weight: normal;
}
.hero-section {
    padding: 0;
}
.action-block {
    margin: 50px 0;
}
.hero-content-section h1 {
    font-family: 'Bree Serif', serif;
    font-size: 44px;
    line-height: 56px;
    font-weight: normal;
}
.subscription-content-block h4 {
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
    align-items: center;
    color: #2D2E34;
}
.subscription-content-block p {
    font-weight: normal;
    font-size: 15px;
    line-height: 26px;
    color: #2D2E34;
}
.how-it-work-section {
    background: #F1F1F1;
}
.white-box-container .white-box {
    background: #FFFFFF;
    box-shadow: 0px 0px 8px #DFDFDF;
    border-radius: 16px;
    padding: 48px;
    min-height: 400px;
}
.white-box p {
    font-size: 15px;
    line-height: 26px;
    color: #2D2E34;
}

.how-it-work-section .owl-carousel .owl-item img {
    display: inline-block;
    width: 48px;
    margin: 0 15px 0 0;
}

.how-it-work-section .white-box-container {
    padding: 0 40px;
}

.how-it-work-section .owl-carousel .owl-nav button.owl-prev {
    background: url(assets/images/slider-left-icon.svg) no-repeat 0 0;
    width: 60px;
    height: 60px;
    position: absolute;
    left: 31.5%;
    top: 50%;
    margin-top: -50px;
}

.how-it-work-section .owl-carousel .owl-nav button.owl-next {
    background: url(assets/images/slider-right-icon.svg) no-repeat 0 0;
    width: 60px;
    height: 60px;
    position: absolute;
    right: 31.5%;
    top: 50%;
    margin-top: -50px;
}
.how-it-work-section .owl-carousel .owl-nav button.owl-prev:focus,
.how-it-work-section .owl-carousel .owl-nav button.owl-next:focus {
	outline: 0;
}

.how-it-work-section .how-it-work {
    position: relative;
    z-index: 2;
    margin: 72px auto -120px auto;
}

.how-it-work-section .owl-carousel {
    margin: 0 0 40px 0;
}

.how-it-work-section .btn-section {
    display: flex;
    flex-flow: row;
    justify-content: center;
}

.how-it-work-section {
    width: 100%;
}
.how-it-work-section .owl-prev span, 
.how-it-work-section .owl-next span {
    display: none;
}
.your-term-section h3 {
    color: #FFF;
    font-size: 32px;
}

.featured-vehicle-section .white-box-container {
    padding: 0 40px;
    text-align: center;
}
.featured-vehicle-section .owl-carousel .owl-item img {
    display: inline-block;
    margin: 0 0 40px 0;
    width: 100%;
}
.featured-vehicle-section .car-brand-name {
    font-size: 22px;
    font-weight: normal;
    color: #2D2E34;
    font-family: 'Open Sans', sans-serif;
}
.featured-vehicle-section .car-model-name {
    font-size: 30px;
    margin: 0 0 9px 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}
.featured-vehicle-section .car-price {
    color: #8FC640;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
}
.featured-vehicle-section .car-duration {
    font-size: 12px;
    line-height: 18px;
    color: #717482;
    display: block;
}
.featured-vehicle-section .owl-carousel .owl-item img {
    display: inline-block;
    margin: 0 0 40px 0;
    width: 100%;
}
.featured-vehicle-section .owl-carousel .owl-nav button.owl-prev {
    background: url(assets/images/slider-left-icon.svg) no-repeat 0 0;
    width: 60px;
    height: 60px;
    position: absolute;
    left: 35%;
    top: 80%;
    cursor: pointer;
}
.featured-vehicle-section .owl-carousel .owl-nav button.owl-next {
    background: url(assets/images/slider-right-icon.svg) no-repeat 0 0;
    width: 60px;
    height: 60px;
    position: absolute;
    right: 35%;
    top: 80%;
    cursor: pointer;
}
.featured-vehicle-section .owl-prev span, .featured-vehicle-section .owl-next span {
    display: none;
}
.testimonial-section {
    background: #F1F1F1;
}
.testimonial-white-box {
    background: #FFFFFF;
    border-radius: 16px;
    padding: 30px;
    position: relative;
}
.testimonial-white-box::after {
    position: absolute;
    content: "";
    background: url(assets/images/quote.png) no-repeat;
    width: 50px;
    height: 40px;
    bottom: -20px;
    left: 50%;
    margin-left: -20px;
}
.testimonial-white-box p{
    font-size: 15px;
    line-height: 26px;
    color: #2D2E34;
    margin: 10px 0 25px 0;
}
.testimonial-white-box p span a {
    font-size: 14px;
    line-height: 30px;
    align-items: center;
    color: #8FC640 !important;
    font-weight: bold;
}
.header-navigation-wrapper .primary-menu a {
    font-size: 15px;
    line-height: 18px;
    align-items: center;
    text-align: center;
    color: #2D2E34 !important;
    font-family: 'Open Sans', sans-serif;
	border-bottom: #FFF solid 3px;
	padding-bottom: 5px;
}
.header-navigation-wrapper .primary-menu li a:hover,
.header-navigation-wrapper .primary-menu li a:focus,
.header-navigation-wrapper .primary-menu li.current_page_item a {
	border-bottom: #8FC640 solid 3px;
	text-decoration: none;
}
.header-navigation-wrapper .primary-menu li.current-menu-item > a, 
.header-navigation-wrapper .primary-menu li.current-menu-item > .link-icon-wrapper > a {	
	text-decoration: none;
}
.sub-widget{
    position: relative;
}
.sub-widget::after {
    content: "";
    position: absolute;
    background: url(assets/images/sub-icon.svg) no-repeat;
    width: 49px;
    height: 39px;
    left: 0;
    top: 0;
}
.name-of-authour {
    position: relative;
}
.name-of-authour::after {
    position: absolute;
    background: #F1F1F1;
    width: 35px;
    height: 4px;
    content: "";
    margin: 0 auto;
    left: 42%;
    top: -12px;
}
.copy_write_seciton {
    margin: 18px 0 0 0;
}
.copy_write_seciton a {
    text-decoration: none;
}
.your-term-section {
    background-image: url(assets/images/click-drive.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 296px;
    padding: 0;
    display: flex;
    align-items: center;
    position: relative;
    margin-top: 100px;
}
.click-drive-bg {
    background-image: url(assets/images/click-car-drive.png);
    margin-top: 0;
}
.how-it-work-sm-banner {
    background-image: url(assets/images/howitwork/click-drive.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 296px;
    position: relative;    
    display: flex;
    align-items: center;
}
.your-term-section::after,
.how-it-work-sm-banner::after {
    background: linear-gradient(90deg, rgba(78, 112, 29, 0.5) 54.25%, rgba(97, 147, 26, 0.11) 87.25%);
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    top: 0;
    z-index: 1;
}
.your-term-section .container,
.how-it-work-sm-banner .container{
    position: relative;
    z-index: 11;
}
.how-it-work-sm-banner h3 {
    color: #FFF;
}
.how-we-work-section .sub-widget::after {
    display: none;
}
.sub-widget p {
    font-size: 15px;
    color: #2D2E34;
    line-height: 26px;
}
.sub-widget h4 {
    font-size: 24px;
}
.home-sub-section .sub-widget {
    padding: 0 0 0 100px;
}
.about-customer-point .sub-widget {
    padding-left: 55px
}
.header-titles-wrapper {
    max-width: inherit !important;
    padding-right: 0 !important;
}
.wagonex-section .close-menu-btn {
    width: 30px;
    display: block;
    flex-flow: column;
    position: relative;
    right: 0;
    align-items: center;
    margin: 0;
}
.open-icon {
    background: #8FC640;
    height: 2px;
    width: 100%;
    display: block;
    float: left;
    margin: 5px 0;
}
.close-menu-btn {
    width: 45px;
    display: block;
    flex-flow: column;
    position: relative;
    right: 0;
    align-items: center;
    margin: 0;
}
.header-inner .toggle:focus {
    outline: 0;
}
.aam-logo {
    max-width: inherit;
}

.home-terms {
    margin: 0;
}
 .owl-carousel.owl-drag .owl-item.active{
    opacity: 0.5;
}
.owl-carousel.owl-drag .owl-item.active.center {
    opacity: 1;
}
.hero-image-section {
    position: relative;
}
header .primary-menu > li {
	padding: 0 15px;
	margin: 0;
}
.how-works-image-section {
    justify-content: center;
    align-items: center;
    display: flex;
    min-height: 450px;
    padding-top: 150px;
}
.about-content-section .sub-widget {
    padding: 0 0 0 55px;
}

.featured-vehicle-section .owl-carousel .owl-nav button.owl-next:focus,
.featured-vehicle-section .owl-carousel .owl-nav button.owl-prev{
	outline: 0;
}
.hero-image-section img {
    align-self: flex-end;
    margin: 0 auto;
}
.about-content-section img.img-w1,
.how-we-work-section img.img-hero {
    align-self: center;
}
.text-grey {
    color: #818286;
}
.text-green {
   color: #92ce3a; 
}
.img-self{
    align-self: center;
}
.img-flex-end {
    align-self: flex-end;
}
.footer-content-section .powered-by p {
    text-transform: uppercase;
    color: #FFFFFF
}
.hero-image-section {
    padding-top: 100px;
}
.hero-content-section {
    padding-top: 100px;
    margin: 0;
    min-height: 550px;
    justify-content: center;
    align-items: baseline;
    align-content: center;
    display: flex;
    flex-flow: column;
}

/* Extra large devices (large desktops, 1200px and up) */
@media (max-width: 1360px) {  
    .hero-content-section h1 {
        font-size: 40px;
    }
    .hero-content-section {
        min-height: 450px;
    }
    .how-it-work-section .owl-carousel .owl-item img {
        margin: 0;
    }
    .white-box-container .white-box {
        min-height: 511px;
		padding: 48px 20px;
    }
	.hero-content-section h1 {
		padding-right: 0;
	}
	header .primary-menu > li {
		padding: 0 10px;
	}
	.home-sub-section .sub-widget {
		padding: 0 0 0 50px;
	}
	.sub-widget::after {
		left: 8px;
	}
	.aam-logo {
		width: 140px;
	}
	.outer-container {
		width: 100%;
	}
}


/* Large devices (desktops, 992px and up) */
@media (max-width: 1024px) { 
	.outer-container {
		width: 100%;
	}
	.aam-logo {
		width: 130px;
	}
	header .primary-menu > li {
		padding: 0;
	}
    .how-it-work-section .owl-carousel .owl-nav button.owl-prev {
        left: 22%;
    }
    .how-it-work-section .owl-carousel .owl-nav button.owl-next {
        right: 22%;
    }
    .hero-content-section h5 {
        font-size: 18px;
        line-height: 27px;
    }
    .hero-content-section h5 p {
        font-size: 18px;
    }
    .hero-content-section {
        min-height: inherit
    }
    .hero-content-section h1 {
        font-size: 27px;
        line-height: normal;
        margin: 0;
		padding-right: 0;
    }
    .auth-block a.request-call-button {
        min-width: 150px;
    }
    header ul.primary-menu {
        justify-content: start !important;
    }
    header .primary-menu > li {
        margin: 0 7px;
    }
    .auth-block .navbar-nav {
        margin: 0;
    }
    .auth-block a.login {
        min-width: 70px;
    }	
}
@media (max-width: 1000px)  {
	.auth-block a.request-call-button,
    .auth-block a.login {
        display: none;
    }
}
/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (max-width: 768px) {  
    .how-it-work-section .owl-carousel .owl-nav button.owl-prev,
    .featured-vehicle-section .owl-carousel .owl-nav button.owl-prev {
        left: 0;
    }
    .how-it-work-section .owl-carousel .owl-nav button.owl-next,
    .featured-vehicle-section .owl-carousel .owl-nav button.owl-next {
        right: 0;
    }
    .your-term-section {
        margin-top: 0;
    }
	.sub-widget::after {
		left: 0;
        display: none;
	}
    .subscription-section h2 {
        font-size: 35px;
        line-height: normal;
    }
    .about-content-section .sub-widget {
        padding: 0;
    }
    .subscription-section h5 {
        font-size: 18px;
    }
	.home-sub-section .sub-widget {
		padding: 0 0 0 50px;
	}
    .hero-content-section.how-it-works-section {
        min-height: inherit
    }
    .how-works-image-section {
        min-height: inherit
    }
    .outer-container {
        width: 100%;
    }
    .new-landing-footer {
        padding: 50px 30px;
    }
    .auth-block a.request-call-button,
    .auth-block a.login {
        display: none;
    }
	.hero-content-section {
		min-height: inherit
	}
}
/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {  
    .logo-section img {
        width: auto;
        display: inline-block;
        margin: 20px 20px;
    }
    .logo-section {
        display: inline-block !important;
        width: auto;
        margin: 10px;
    }
    .main-container {
        width: calc(100% - 0rem);
    }
    .hero-content-section h1 {
        padding: 0;
    }
    .how-it-work-section .owl-carousel .owl-nav button.owl-prev {
        left: 0;
    }
    .how-it-work-section .owl-carousel .owl-nav button.owl-next {
        right: 0;
    }
    .your-term-section {
        margin-top: 0;
    }
    .btn {
        min-width: 130px;
    }
    .how-it-work-section .white-box-container {
        padding: 0 10px;
    }
    .white-box-container .white-box {
        padding: 48px 60px;
    }
    .new-landing-footer {
        padding: 50px 30px;
    }
    .auth-block a.request-call-button,
    .auth-block a.login {
        display: none;
    }
    .aam-logo {
        margin: 0 !important;
        width: 140px;
    }
}