body {
    font-family: 'Open Sans', sans-serif;
}
footer h4 {
    font-size: 22px;
    line-height: 32px;
    position: relative;
    text-transform: none;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
}

.new-landing-footer {
    background-color: #5A585E;
    text-align: left;
    clear: both;
    margin: 0;
    position: relative;
    padding: 50px 80px;
}
.new-landing-footer h4 {
    font-weight: bold;
    font-size: 15px;
    line-height: 20px;
    color: #717482;
    font-family: 'Open Sans', sans-serif;
    margin: 0 0 10px 0;
}
.new-landing-footer ul {
    margin: 0;
}
.new-landing-footer ul li {
    line-height: 28px;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
.new-landing-footer p, 
.new-landing-footer li, 
.new-landing-footer a {
    color: #fff;
    list-style: none;
    line-height: 28px;
    margin: 0;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
}
.m-0 {
    margin: 0;
}
.footer-content-section p {
    line-height: 18px;
    font-size: 13px;
    text-align: left;
    color: #FFF;
}
.footer-col-social ul {
    float: none;
    display: flex;
    flex-flow: row;
    justify-content: left;
}
.footer-col-social ul li {
    width: auto;
    padding: 0 5px;
    line-height: 28px;
    margin: 0;
    float: left;
}
.footer-col-social ul li a {
    background-repeat: no-repeat;
    background-position: center left;
    padding: 0 10px 0 28px;
    width: 34px;
    float: left;
    background-size: contain;
    height: 34px;
}
a.fb-icon {
    background-image: url('../images/fb.svg');
}
a.insta-icon {
    background-image: url('../images/insta.svg');
}
a.link-icon {
    background-image: url('../images/linkedin.svg');
}
a.twitter-icon {
    background-image: url('../images/twitter.svg');
}
.footer-content-section {
    margin: 0;
    padding: 30px 18px 0 18px;
}

.logo-section-background {
    background:#F1F1F1;
}

.your-term-section .main-container {
    background-color: linear-gradient(90deg, rgba(78, 112, 29, 0.5) 54.25%, rgba(97, 147, 26, 0.11) 87.25%);
}
.testimonail-logo {
    margin: 0 auto;
}

.out-team-container {
    border: 1px solid #BEC9D6;
    box-sizing: border-box;
    border-radius: 2px;
    padding: 40px 0 40px 0;
    margin: 0 10px 100px 10px;
    text-align: center;
}
.out-team-container:hover {
    border: 1px solid #8FC640;
}

.out-team-container .member-pic img {
    width: 144px;
    border-radius: 50%;
    margin: 0 auto;
}
.out-team-container .member-name {
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    padding: 25px 0 10px 0px;
    color: #2D2E34;
}
.out-team-container .member-position {
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    color: #2D2E34;
}
.out-team-container {
    text-align: center;
    justify-content: center;
    display: flex;
    flex-flow: column;
}
.member-in {
    margin: 0 auto;
    position: relative;
    bottom: -58px;
}
.member-in::after {
    position: absolute;
    background: url(../images/about/linkedin.png) no-repeat;
    width: 50px;
    height: 50px;
    content: "";
    bottom: -10px;
    left: -15px;
}
.team-section {    
    width: 100%;
    padding: 0 80px;
}
.our-team-container {
    background:#F1F1F1;
    width: 100%;
    float: left;
}
.logo-section {
    padding-bottom: 20px;
}
.best-car-container .sub-widget::after {
    display: none;
}