body {
    font-family: 'Open Sans', sans-serif;
}
.subscription-content-block h4 {
    font-size: 22px;
    line-height: 32px;
    margin: 0 0 15px 0;
    position: relative;
    text-transform: none;
    font-weight: normal;
}

.subscription-content-block h4::before {
    position: absolute;
    content: '';
    background: url(../images/sub-icon.svg) no-repeat;
    width: 47px;
    height: 47px;
    left: -53px;
    top: 0;
}

.subscription-content-block p {
    font-size: 15px;
    line-height: 26px;
    padding: 0;
    margin: 0 0 40px 0;
    text-transform: none;
}

.subscription-image-block {
    margin: 0 0 100px 0;
}

.subscription-section h2 {
    font-size: 40px;
    line-height: 56px;
    text-align: center;
    font-weight: 600;
    margin: 125px 0 26px 0;
    text-transform: none;
}

.subscription-section h5 {
    color: #95A2BA;
    font-size: 22px;
    line-height: 32px;
    text-align: center;
    margin: 0 0 88px 0;
    text-transform: none
}

.subscription-content-block .your-car h4,
.subscription-content-block .rotation h4,
.subscription-content-block .insurance h4,
.subscription-content-block .collection h4 {
    margin: 0 0 20px 53px;
}

.subscription-content-block .your-car h4::before {
    background: url(../../wagonex/images/your_car_icon.svg) no-repeat;
    background-size: contain;
}

.subscription-content-block .rotation h4::before {
    background: url(../../wagonex/images/rotation.svg) no-repeat;
    background-size: contain;
}

.subscription-content-block .insurance h4::before {
    background: url(../../wagonex/images/Insurance.svg) no-repeat;
    background-size: contain;
}

.subscription-content-block .collection h4::before {
    background: url(../../wagonex/images/collection.svg) no-repeat;
    background-size: contain;
}

.subscription-content-block.car-content p {
    margin-bottom: 10px;
}

.car-content-right {
    float: right;
}

.car-content-left {
    float: left;
}

.content-right-center {
    display: flex;
    flex-flow: row-reverse;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-bottom: 100px;
}

.content-left-center {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-bottom: 100px;
}

.wagonex-section .hero-content-section .btn-primary,
.wagonex-section .hero-content-section .btn-primary:active:hover,
.wagonex-section .hero-content-section .btn-primary:active:focus,
.wagonex-section .hero-content-section .btn-primary:focus,
.wagonex-section .hero-content-section .btn-primary:hover,
{
    padding: 15px 45px;
}

.sub-widget {
    margin: 0 0 32px 45px;
}

.img-w2 {
    margin: 0 60px 0 0;
    float: right;
}

.img-w3 {
    margin: 0 0 0 90px;
}

.img-w4 {
    margin: 0;
    float: right;
}

.white-box {
    background: #FFFFFF;
    box-shadow: 0px 0px 8px rgba(190, 201, 214, 0.6);
    border-radius: 2px;
    padding: 48px;
    min-height: 400px;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.white-box h5 {
    font-size: 22px;
    line-height: 32px;
    font-weight: 600;
    text-transform: none;
    font-family: 'Raleway', sans-serif;
}

.white-box p {
    font-size: 15px;
    line-height: 26px;
    color: #2D2E34;
    padding: 10px 0 0 0;
    font-family: 'Open Sans', sans-serif;
}

.owl-item.active {
    opacity: 0.5;
}

.owl-item.active.center {
    opacity: 1;
}

.how-it-work-section img {
    margin: 0 auto;
    display: block;
}

.how-it-work-section h2 {
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    text-transform: none;
    color: #2D2E34;
    font-family: 'Open Sans', sans-serif;    
}

.how-it-work-section {
    background: #F2F5FA;
    padding: 120px 0;
}

.how-it-work-section .owl-carousel .owl-item img {
    display: inline-block;
    width: 48px;
    margin: 0 15px 0 0;
}

.how-it-work-section .white-box-container {
    padding: 0 40px;
}

.how-it-work-section .owl-prev span,
.how-it-work-section .owl-next span {
    display: none;
}

.how-it-work-section .owl-carousel .owl-nav button.owl-prev {
    background: url(../images/slider-left-icon.svg) no-repeat 0 0;
    width: 60px;
    height: 60px;
    position: absolute;
    left: 31.5%;
    top: 45%;
}

.how-it-work-section .owl-carousel .owl-nav button.owl-next {
    background: url(../images/slider-right-icon.svg) no-repeat 0 0;
    width: 60px;
    height: 60px;
    position: absolute;
    right: 31.5%;
    top: 45%;
}

.how-it-work-section .how-it-work {
    position: relative;
    z-index: 2;
    margin: 72px auto -120px auto;
}

.how-it-work-section .owl-carousel {
    margin: 0 0 40px 0;
}

.how-it-work-section .btn-section {
    display: flex;
    flex-flow: row;
    justify-content: center;
}

.how-it-work-section {
    width: 100%;
}

.testimonial-white-box {
    background: #FFFFFF;
    text-align: center;
    padding: 32px 20px 0 20px;
    position: relative;
}
.testimonial-section {
    width: 100%;
    float: left;
    background: #F2F5FA;
    padding: 120px 0;
}

.testimonial-section .testimonial-container,
.testimonial-section .white-box-container {
    margin: 0 auto;
    float: none;
}

.testimonial-section .white-box-container .testimonial-container {
    float: left;
}

.white-box-container {
    margin: 52px 0 0 0;
}

.wagonex-testimonial {
    margin: 0 0 20px 0;
}

.testimonial-section .white-box-container {
    margin: 52px auto 0 auto;
}

.testimonial-quotes {
    position: absolute;
    bottom: -17px;
    left: 45%;
}

.testimonial-white-box p::after {
    width: 30px;
    height: 2px;
    background: #BEC9D6;
    bottom: 0;
    margin: 30px auto 0 auto;
    float: none;
    display: block;
}

.testimonial-white-box p {
    position: relative;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}


/***************************************************
            Featured Vehicle Section
***************************************************/
.featured-vehicle-section {
    background: #FFFFFF;
    padding: 120px 0 0 0;
    font-family: 'Open Sans', sans-serif;
}
.featured-vehicle-section h2 {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
    font-weight: 600;
    text-transform: none;
    color: #2D2E34;
    margin: 0 0 30px 0;
}
.owl-carousel .owl-stage-outer {
    position: relative;
    overflow: hidden;
}
.owl-carousel .owl-item {
    min-height: 1px;
    float: left;
}
.featured-vehicle-section .white-box-container {
    padding: 0 40px;
    text-align: center;
}
.featured-vehicle-section .owl-carousel .owl-item img {
    display: inline-block;
    margin: 0 0 40px 0;
    width: 100%;
}
.featured-vehicle-section .car-brand-name {
    font-size: 22px;
    font-weight: normal;
    color: #2D2E34;
}
.featured-vehicle-section .car-model-name {
    font-size: 30px;
    font-weight: bold;
    margin: 0 0 9px 0;
    font-family: 'Raleway', sans-serif;
}
.featured-vehicle-section .car-price {
    color: #2A9FF4;
    font-size: 18px;
    font-weight: normal;
    font-family: 'Open Sans', sans-serif;
}
.featured-vehicle-section .car-duration {
    font-size: 12px;
    line-height: 18px;
    color: #95A2BA;
    display: block;
}
.featured-vehicle-section .owl-carousel .owl-item img {
    display: inline-block;
    margin: 0 0 40px 0;
    width: 100%;
}
.featured-vehicle-section .owl-carousel .owl-nav button.owl-prev {
    background: url(../images/slider-left-icon.svg) no-repeat 0 0;
    width: 60px;
    height: 60px;
    position: absolute;
    left: 35%;
    top: 80%;
    cursor: pointer;
}
.featured-vehicle-section .owl-carousel .owl-nav button.owl-next {
    background: url(../images/slider-right-icon.svg) no-repeat 0 0;
    width: 60px;
    height: 60px;
    position: absolute;
    right: 35%;
    top: 80%;
    cursor: pointer;
}